@import url('https://fonts.googleapis.com/css2?family=Libertinus+Math&display=swap');

.App{
  font-family:"Libertinus Math", system-ui;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 30px;
}

.form-container{
  width: 350px;
  padding: 30px;
  border: 2px solid rgb(133, 200, 251);
  border-radius: 30px;
  box-shadow: 3px 3px 50px gray;
  margin: 30px;
}
.form-container div{
  margin-bottom: 10px;
}

label{
  display: block;
  font-weight: bold;
  margin-bottom: 10px;
}

input,select{
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
}

button{
  cursor: pointer;
  height: 50px;
  width: 120px;
  background-color: rgb(246, 176, 106);
  color: white;
  text-align: center;
  font-size: medium;
}
button:hover{
  background-color: white;
  color: rgb(240, 201, 130);
}
.tabs{
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.tab-link{
  text-decoration: none;
  padding: 10px 20px;
  margin: 0 10px;
  border: 2px solid rgb(230, 173, 229);
  border-radius: 5px;
  color: rgb(226, 204, 204);
  font-weight: bold;
  height: 30px;
  transition: 0.3s ease;
}

.tab-link:hover{
  background-color: rgb(122, 221, 248);
  color: white;
}